<!DOCTYPE html>
<html>
  <head>
    <title>Sketch | <%= @title %></title>
  </head>
  <body>

   <%= form_tag :action => "result" %>
    <div class="field">
      <%= text_area "text", "input"  %><br />
      <%= submit_tag "Run Sketch" %>
    </div>

   <div id="editor">some text</div>
    <%= javascript_include_tag "ace/ace.js" %>
    <script>
    window.onload = function() {
        var editor = ace.edit("editor");
    };
    </script>

  </body>
</html>
