<% content_for :head do %>
    <style type="text/css" media="screen">
        #editor { 
            position: relative;
            left: 0;
            right: 0;
            /*width: 500px;*/
            height: 300px;
        }
        #output {
            position: relative;
            left: 0;
            right: 0;
            /*width: 500px;*/
            height: 300px;
            border-style:solid;
            border-width:2px;
            overflow: auto;

        }
        #sketchtext {
            display: none;
        }
    </style>

    <%= javascript_include_tag "ace/ace", "ace/theme-twilight", "ace/mode-sketch" %>

    <script type="text/javascript">
        /* Event handlers */
        function ajax_response(evt, cont) {
            var response = evt.memo;
            $('output').update(response.responseText);
        }
    
        function submitForm() {
            $('output').update('Synthesizing...');
            $('sketchtext').value = editor.getSession().getValue();
        }

        /* Initialize the text editor */
        function setAceInput() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");
            editor.getSession().setValue('');    
/*            var SketchMode = require("ace/mode/").Mode; 
            editor.getSession().setMode(new SketchMode());
*/        }

        document.observe("dom:loaded", function() {
            setAceInput();
            $('sketchform').observe('ajax:success', ajax_response);
        });
    </script>
<% end %>

<pre id="editor">This website has only been tested with Firefox. If code editor does not appear, please use the non-javascript version <%= link_to('here', :controller => 'pages', :action => 'sketch')%>.
</pre>

<%= form_tag({ :action => 'result' }, {:remote => true, :id => 'sketchform'}) do %>
    <div class="field">
        <%= text_area_tag "sketchtext", nil, :disable => true %><br/>
        <%= submit_tag "Run Sketch", :onclick => "javascript:submitForm()" %>
    </div>
<% end %>

<pre id="output"></pre>
